* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container img {
    align-self: center;
}

header {
    display:flex;
    justify-content: end;
}

header.advanced {
    width: 100%;
    justify-content: space-between;
}

.nav {
    list-style: none;
}

.nav li {
    margin: 12px;
    padding: 5px;
}

.nav-links {
    text-decoration: none;
    color:black;
    cursor: pointer;
    font-size: 14px;
}

.nav-links:hover {
    text-decoration: underline;
}

.advancedLogo {
    width: 90px;
    margin: 12px;
}

.search-container {
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.formAdvanced {
    display: flex;
    flex-direction: column;

}

.formAdvanced label {
    font-weight: bold;
    margin-bottom: 5px;
}

.formAdvanced input[type="text"],
  select {
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

  .formAdvanced .btn {
    background-color: #4285f4;
    border-radius: 2px;
    color: #fff;
    width: fit-content;
    font-weight: 600;
    padding: 8px 14px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.formAdvanced .btn:hover {
    background-color: #2475f7;
}

.search-bar {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 25px;
}

.search-bar:hover {
    box-shadow: 0px 1px lightgray;
}

.search-button {
    width: 27%;
    color: black;
    text-align: center;
    padding: 10px 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.image-search-button {
    width: fit-content;
}

.search-button:hover {
    border: 1px solid lightgray;
}

.search-button:active {
    border-color: blue;
}